[Desktop Entry]
Type=Application
Name=Astro Dwarf
Comment=Control and schedule Dwarf telescopes
Exec=/usr/bin/astro-dwarf
Icon=astro-dwarf
Categories=Science;Astronomy;
Terminal=false
StartupWMClass=AstroDwarf
